body {
    width: 85%;
    margin:auto;
    text-align:center;
    background-color:lavender;
}

h1{
    font-family:'Arial Rounded MT';
    font-size:22px;
    color:darkblue;
}
a{
    display: block;
    background-color: azure;
    color: black;
}
li{
    display: inline-block;
    padding: 10px;
}
.create{
    font-size:larger;
    background-color:burlywood;
    color:darkred;
    padding:inherit;
}
