<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <h1>Welcome to the Inn</h1>
    <p>Your home away from home.</p>


    <div>
        @RenderBody()
    </div>
    <h4>Bottom of the page.  The CEO of Async Inn Carlos Castillo thanks you checking out the database.</h4>
</body>
</html>
